
html{
    border: 2px solid rgb(175, 19, 175);
}
@font-face {
    font-family:"Kaushan Script" ;
    src: url(KaushanScript-Regular.ttf);
}
@font-face {
    font-family:"Playfair Display";
    src: url(PlayfairDisplay-Regular.ttf);
}

body{
    margin:0;
}
/*main{
    max-width: 700px;
    margin: 0 auto;
    float: left;
}*/
/***********Header***********/
header{
    background-image: url(img/fond.jpg);
    background-position: center;
    text-align: center;
    background-size: cover;
    height: 300px;
    margin-top: -50px;
    width: 100%;
}


header nav  {
    font-size: 1.3em;
    margin-top: 50px;
}
header nav ul{
text-align: center;
padding-left: 6px;    
}
header nav li{
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-family:"Kaushan Script" ;
    font-size: 1em;
    padding-bottom: 20px;
    padding-top: 45px;
    padding-left:25px;
}
header nav a{
    color:white;
    text-decoration: none;

}
/*************************/
.fas{
    margin-right: 0%;
    
    
}

/************nav*****/

nav p{
    color: rgb(255, 253, 253);
    font-size: 1em;
    padding-top: 20px;

}
nav h1{
    font-family:"Kaushan Script" ;
    color: rgba(255, 255, 255, 0.986);
    font-size: 2em;
    padding-bottom: 20px;

}

/**************************/


/*******Section1*********/


.section1{
    margin-left: 10px;
   margin-right: 10px;
}
.section1 .article1{
    margin-bottom: 30px;
}
.section1 .article1 h3{
    text-align: center;
    color: gray;
}

.section1 .article1 p{
    color: gray;
    font-family: "Playfair Display";
    text-align: left;


}
.section1 .article1 p img{
    float: left;
    width: 200px;
    padding-right: 20px;
}
  

.section1 .article2{
    margin-bottom: 20px;
    width: 100%;
}
.section1 .article2 h3{
    text-align: center;
    color: gray;
}

.section1 .article2 p{
    color: gray;
    text-align: left;
    font-size: 1em;
}
.section1 .article2 p img{
    float: right;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

/************************/
.clear{
    clear: left;
}
 
/**********Section2************/
.section2{
   background-image: url(img/background_section.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: 10px;
   margin-right: 10px;
   max-height:1000px ;
     
}




.section2 .article1,.article2,.article3{
    display: inline-block;
    width:31%;
    padding-left: 15px;
    vertical-align: top;
    margin-bottom: 40px;



}

.section2  p{
    font-size: 0.8em;
    text-align: center;
    color:white;
    font-family: "Playfair Display";
}
.section2  h4{
    text-align: center;
    color: white;


}


.section2  img{
    width: 80px;
    padding-left: 42%;


}

/**********************/



/******FOOOTER*******/
footer{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    background-color:#8D6FD1;
    margin-left: 8px;
    margin-top: 0px;
}
footer img{
    width: 40px;
    height: 40px;
    margin: 0;
}
footer p{
    margin: 0;
    font-size: 0.6em;
}
/********************/


/***********Table*********/
table{
    margin-bottom: 30px;
    font-family: "Playfair Display";
    margin-left: 60px;
    margin-right: 60px;

}
table a{
    text-decoration: none;
    color: #2F4982;
}
.table1 h1{
    text-align: center;
    color:#414865 ;
    font-family: "Playfair Display";
    font-size: 2em;
}
th{
    text-align: left;
    background-color: #C4A5DE;
    font-family:"Kaushan Script" ;
    font-size: 1.6em;
    color: white;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;

  }
  td{
    color:#414865 ;

  }
  tr:nth-child(odd) {
    background-color: #F2F2F2;
  }

  /************************/

  /*********forms*************/
  .forms h1,h2{
      text-align: center;
      color:#414865 ;
      font-family: Arial, Helvetica, sans-serif;



  }

  input[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #DDDDDD;
  }
  .cords{
      text-align: center;
      color:#414865 ;
      font-family: Arial, Helvetica, sans-serif;
      
      }


  .raisons{
          text-align: center;
          font-family: "Playfair Display";
          color:#414865 ;

          
    }
    

    .programme{
        text-align: center;
        font-family: "Playfair Display";
        color:#414865 ;


    }


    .connaissance{
        text-align: center;
        font-family: "Playfair Display";
        color:#414865 ;


    }

    
    
    select{
        width: 100%;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    input[type=button]{
        background-color: #8B5BC1;
        border: none;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        margin:20px 0 50% 50%
        
    }


input[type='checkbox'],input[type='radio']{

    margin: 0 10px;
    
}

    /****************************/


  